*{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.footer{
    bottom: 0;
}



@media(max-width:991px){
    .sidebar{
        backdrop-filter: blur(5px);
    }
}



.logo{
    height: 50px;
    width: 250px;
}

.site-wrapper{
    font-family: poppins;
}

.home-page p{
    font-size: 0.9em;
    color: #767676;
    line-height: 30px;
    font-weight: 400;
}

.carousel-item{
    height: 70vh;
    color: white;
    background-color: black;
    
}

.carousel-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: left;
    
}

.carousel-container h1{
    font-weight: bold;
    font-size: 2rem;
}

.carousel-container h5{
    text-align: left;
    font-size: 1rem;
}

.overlay-image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}





.card-row{
    position: relative;
}

.card-row::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.service-card{
    min-height: 100%;
}

.card:hover{
    cursor: pointer;
    background:;
    color: #a77b05de;
}


.featured-services-img img{
    width: 100% ;
    height: 100% ;
}


/* why us section */

.why-us .row{

    padding: 10px;
    background-color: rgb(34, 34, 67);
    opacity: 0.7;
    border-radius: 10px;
}

.why-us-btn{
    position: relative;
    margin-left: 70%;
    width: 30%;
}

/* listing section */

.listing-card{
    min-width: 30vw;
    
   

}

.listing-card img{
    min-width: 100;
    padding: 0.5em;
    border-radius: 0.8em;
}

.text-section{
    width: 60%;
}

.cta-section{
    width: 40%;
}


/* formsection */


.form-row{
    background-color: rgb(4, 4, 24);
    opacity: 0.7;
    border-radius: 10px;
}

.form-container{
    position: relative;
    background: black;
    padding: 0;
}

.form-area-overlay{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
    opacity: 0.5;
    max-width: 100vw;
    
}

.form-area{
    width: 930px;
    
    z-index: 2;
    
}



.form-left{
    padding-top: 40px;
}

.form-right{
    padding: 40px 30px 40px 40px;
}

.form-right button{
    border: none;
    border-radius: 0;
    background: #103cbe;
    width: 180px;
    color: #fff;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.homepage-form .right button:hover{
    background: #252525;
}

/*About us section */


.about-us-row{
    position: relative;
    background-color: rgb(34, 34, 67);
    opacity: 0.9;
    border-radius: 10px;
}

.about-page p{
    font-size: 0.9em;
    color: #767676;
    line-height: 30px;
    font-weight: 400;
}